
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

<section class="flat-row flat-iconbox">
    <div class="container">
        @*<div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Products
                    </h2>
                </div>
            </div>
        </div>*@
        <br />

        <div id="tableContiner">
            @{
                Html.RenderAction("ProductTable");
            }
        </div>

        <hr />
        <div id="actionContainer">

        </div>

        @*<script src="~/Content/plugins/jquery/jquery.min.js"></script>*@
        <!-- Bootstrap 4 -->
        @*<script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    </div>
</section>


<script>
    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>